body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Establece la altura del cuerpo al 100% de la ventana de visualización */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(201, 201, 209);
}

header {
    color: black;
    text-align: center;
    padding: 1px;
}

main {
    max-width: 30%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para el formulario */
#simulacion-form {
    margin: 20px 0;
}

label {
    margin: 10px 0;
    text-align: center;
}

input[type="number"] {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
}

button {
    background-color:rgb(76, 76, 246);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #555;
}

footer p {
    text-align: center;
}

h2{
    text-align: center;
}


#simulacion-form {
    place-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Crea 3 columnas con un ancho igual */
    grid-gap: 10px;
    border: 2px solid #000; /* Añade un borde sólido de 2px de grosor */
    padding: 20px; /* Añade espacio interno alrededor del formulario */
    border-radius: 15px;
}

    #iniciar-simulacion {
        grid-column: 1 /2; /* Hace que el botón ocupe dos columnas */
    }

    select{
      width: 80%;
      padding: 10px;
      border-radius: 8px;
  }
  option{
    text-align: center;
  }

