/* Estilos para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para el formulario */
#simulacion-form {
    place-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crea 3 columnas con un ancho igual */
    grid-gap: 10px;
    border: 2px solid #000; /* Añade un borde sólido de 2px de grosor */
    padding: 20px; /* Añade espacio interno alrededor del formulario */
    border-radius: 15px;
}

    #iniciar-simulacion {
        grid-column: 1 / span 2; /* Hace que el botón ocupe dos columnas */
    }

label {
    display: block;
    margin: 10px 0;
}

input[type="number"],
     [type="text"] {
    width: 80%;
    padding: 10px;
}

select{
    width: 80%;
    padding: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos para los resultados */
#resultados {
    margin-top: 20px;
}

footer p {
    text-align: center;
}

h2{
    text-align: center;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas con un ancho igual */
    grid-gap: 10px; /* Espacio entre elementos (ajusta según lo necesites) */
  }
  