body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
}


.contenedor{
  display:grid ;
  grid-template-columns: repeat(1, 1fr);
  border: 1px solid black;
  background-color: gray;
  justify-content: center;
  align-items: center;
}

#resultados, #resultados2{
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
  }
  
  #resultados table {
    border-collapse: collapse;
  }

  #resultados2{
    border-collapse: collapse;
  }

  #resultados th, td,#resultados2 th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  #resultados th,#resultados2 th {
    background-color: orange;
    color: black;
  }
  
  #resultados th:first-child, #resultados td:first-child {
    text-align: left;
  }

  #resultados2 th:first-child, #resultados2 td:first-child {
    text-align: left;
  }
  
  #resultados tbody tr:nth-child(odd),#resultados2 tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
  }
  
  #resultados, #resultados2, tbody tr:hover {
    background-color: #e0e0e0;
  }
footer{
    text-align: center;
}
label, h1{
  padding: 0px;
  text-align: center;
  margin: 0px;
}

button {
  background-color: rgb(76, 76, 246);
  color: #fff;
  margin: 3px;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}


#miGrafico, #miGrafico1, #miGrafico2{
  margin: 20px;
  padding: 20px;
  background-color: white;
  display: none;
  border: 1px solid #ccc;
  max-width: 80%; /* Ajusta el tamaño del lienzo según sea necesario */
}

.torta {
  display: flex;
  flex-direction: column; /* Asegura que los elementos dentro de la torta estén en una columna */
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center; /* Centra el texto dentro del contenedor */
  background-color: white;
}

canvas {
  width: 80%;
  max-width: 100%; /* Ajusta el tamaño máximo al 100% del contenedor padre */
  display: block;
  margin-top: 10px; /* Añade un pequeño espacio entre el canvas y el texto */
}

/* Estilo adicional para el título */
.torta h2 {
  margin: 10px 0; /* Añade margen alrededor del título */
}

/* Ajustes generales para el lienzo */
canvas {
  margin: 20px;
  padding: 20px;
  background-color: white;
}

.grafica1 {
  border: 1px solid black;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  background: none;
}
.modal p {
  text-align: center;
}


.modal-contenido {
  background-color: #c8c4c4;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 80%;
}
 #graficos{
  display: none;
 }
